/* ------------------------------
    Global styles and link start
--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* ------------------------------
    Global styles and link End
--------------------------------- */
/* ------------------------------
    Header style part Start
--------------------------------- */
.top-banner{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 100px;
}
.wrap-banner {
    display: flex;
    align-items: center;
    width: 1324px;
    height: 645px;
    background-color: #161616;
    border-radius: 30px;
    padding: 33px 79px 0;
}
.banner-image,
.wrap-banner .banner-image img{
    height: 100%;
    padding: 0;
}
.banner-text,
.banner-image{
    width: 50%;
    padding: 12px;
}
.banner-text h1{
    font-weight: 500px;
    font-size: 70px;
    line-height: 80px;
    margin: 20px 0;
}
.banner-text p{
    font-size: 18px;
    font-weight: 400px;
    line-height: 26px;
}
.banner-text button{
    padding: 15px 30px;
    font-size: 20px;
    background-color: #DD0000;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: .4s;
}
.banner-text button:hover{
    background-image: linear-gradient(180deg, red, yellow);

}
/* ------------------------------
    Header style part End
--------------------------------- */

/* ------------------------------
    Main Section part Start
--------------------------------- */
.main-section{
    display: flex;
    justify-content: left;
}
.main-container{
    width: 1324px;
    display: grid;
    grid-template-columns: repeat(1,1fr) repeat(1, 3fr);
    padding: 0;
    column-gap: 25px;
}
/* ------------------------------
    Side Navigation Bar Start
--------------------------------- */
.nav-sidebar{
    padding: 30px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 310px;
    height: 310px;
    border-radius: 10px;
}
.nav-sidebar a{
    text-decoration: none;
    background-color: #fff;
    margin: 15px 0;
    color: black;
    padding: 15px 40px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}
#active{
    background-color: #DD0000;
    color: #fff;
}

/* ------------------------------
    Side Navigation Bar End
--------------------------------- */

.group-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.group-container img{
    display: inline;
    justify-items: start;
    align-items: center;
    width: 50px;
}
.group-img{
    display: flex;
    align-items: center;
    justify-content:space-around;
    justify-items: center;
    padding: 10px;
}
.group-img div> h1{
    margin: 20px;
}
.group-schudule hr{
    border: 1px solid lightgray;
    width: 100%;
}
.group-schudule>div >h3{
    text-align: center;
}
.group-text{
    display: flex;
}
.schudule-text{
    padding: 0 auto;
    border-radius: 5px;
    vertical-align: middle;
    align-items: center;
}
/* ------------------------------
    Main Section part End
--------------------------------- */

/* ------------------------------
    Footer part Start
--------------------------------- */
footer {
    background-color: #161616;
    margin-top: 100px;
    padding: 30px;
}
.footer-part {
    font-size: 40px;
    height: 250px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
hr {
    border: 1px solid #FFFFFF;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 50px;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li a {
    color: lightgrey;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}
/* ------------------------------
    Social media part Start
--------------------------------- */
.social-media-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media-link ul {
    display: flex;
    list-style: none;
    
}
.social-media-link ul li a {
    font-size: 30px;
    border-radius: 10px;
    color: lightgrey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: .4s;
}
.social-media-link ul li a:hover {
    background: linear-gradient(to bottom, #54c5ea 0%, #ff99cc 100%);

}
/* ------------------------------
    Social media part End
--------------------------------- */
/* ------------------------------
    Footer part End
--------------------------------- */